[Desktop Entry]
Name=Chivalry: Medieval Warfare
Comment=Play this game on Steam
Exec=steam steam://rungameid/219640
Icon=steam
Terminal=false
Type=Application
Categories=Game;
