#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=https://2li.ch/webmail/
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=hkbpadbopgkjhmcgcbcapclohpnhkgkl
Icon=chrome-hkbpadbopgkjhmcgcbcapclohpnhkgkl-Default
StartupWMClass=crx_hkbpadbopgkjhmcgcbcapclohpnhkgkl
