[Desktop Entry]
Name=Citrix
Comment="Launch Citrix applications from .ica files"
Exec=/opt/Citrix/ICAClient/wfica /home/andreas/01_Inbox/launch.ica
Terminal=false
Type=Application
MimeType=application/x-ica;
