[Desktop Entry]
Name=DiRT Showdown
Comment=Play this game on Steam
Exec=steam steam://rungameid/201700
Icon=steam_icon_201700
Terminal=false
Type=Application
Categories=Game;
