#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Music
Exec=/usr/bin/chromium --profile-directory=Default --app-id=icppfcnhkcmnfdhfhphakoifcfokfdhg
Icon=chrome-fahmaaghhglfmonjliepjlchgpgfmobi-Default
StartupWMClass=crx_icppfcnhkcmnfdhfhphakoifcfokfdhg
Name[en_GB.UTF-8]=Google Play Music.desktop
