[Desktop Entry]
Name=Terminal Velocity
Exec=termite -e terminal_velocity
Terminal=false
Type=Application
Name[en_GB.UTF-8]=Terminal Velocity
Icon=accessories-text-editor
