#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=WhatsApp
Exec=/usr/bin/chromium --profile-directory=Default --app-id=hnpfjngllnobngcgfapefoaidbinmjnm
Icon=im-yahoo
StartupWMClass=crx_hnpfjngllnobngcgfapefoaidbinmjnm
Name[en_GB.UTF-8]=WhatsApp.desktop
